*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color:rgb(62, 36, 86);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}
.choice{
    height: 165px;
    width: 165px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-duration: 200ms;
}

.choice:hover{
    cursor: pointer;
    background-color: rgb(70, 44, 94);

}
img{
    height: 150px;
    width: 150px; 
    object-fit: cover;
    border-radius: 50%;
    background-color: blueviolet;
    border: 6px solid rgb(70, 44, 94);
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.score_card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score,#comp-score{
    font-size: 3rem;
}

.msg_container{
    margin-top: 3rem;
    border-radius: 25%;
}

#msg{
    background-color: rgb(70, 44, 94);
    color: #fff;
    font-size: 1.3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}